<h1>{{name}}</h1>

<table>
    <thead>
        <th>Name</th>
        <th>Mappings</th>
        <th>Respose</th>
    </thead>

    <tbody>
        <tr *ngFor='let map of responseMaps'>
            <td>
                {{ map.name }}
            </td>
            <td>
                <tr *ngFor='let m of map.matches'>
                    <td>
                        {{ m }}
                    </td>
                </tr>
            </td>
            <td>
                {{ map.file }}
            </td>
        </tr>
    </tbody>
</table>