<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>

<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='table-responsive'>

        <table class='table'>
            <thead>
                <th>Name</th>
            </thead>

            <tbody>
                <tr *ngFor='let host of hosts'>
                    <td>
                        <a [routerLink]="['/hosts', host.name]">
                            {{ host.name }}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>